:root {
  --base-lightest: white;
  --base-lighter: #d8dbde;
  --base-light: #b6b9bc;
  --base-dark: #5c5e5f;
  --base-darker: #3b3c3d;
  --base-darkest: #1b1b1c;
  --primary-lightest: #f198ff;
  --primary-lighter: #eb67ff;
  --primary-light: #e538ff;
  --primary-dark: #9328a4;
  --primary-darker: #821193;
  --primary-darkest: #6a007b;
  --secondary-lightest: #ffedaa;
  --secondary-lighter: #fbd754;
  --secondary-light: #ffc800;
  --secondary-dark: #bc9400;
  --secondary-darker: #8e6f00;
  --secondary-darkest: #755c00;
}

@font-face {
  font-family: 'VT323-Regular';
  src: url('../fonts/VT323-Regular.woff2') format('woff2');
}

html {
  font: 30px monospace;
  font-family: 'VT323-Regular', monospace;
  color: var(--base-lightest);
  background: var(--base-darkest);
}

a {
  color: var(--primary-lighter);
  font-weight: bold;
}
a:focus,
button:focus {
  outline-style: solid;
  outline: var(--secondary-light);
  outline-width: 3px;
}

button,
a.button {
  background: var(--primary-light);
  color: var(--base-darkest);
  border-radius: 6px;
  border: none;
  padding: 3px 6px;
  line-height: 1;
}

p,
li {
  line-height: 1.8;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: flex-end;
  padding: 0 20px;
  gap: 12px;
}
.header h1,
.header h2 {
  margin: 0;
  line-height: 1;
}
.header h1 {
  font-size: 1.1rem;
}
.header h2 {
  font-size: 0.9rem;
  font-weight: normal;
  flex-grow: 1;
  margin-left: 6px;
}
.header svg {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 12px;

  border: 3px solid var(--secondary-light);
  box-sizing: border-box;
  margin: 12px 12px 0;
}
.selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 3px solid var(--base-darkest);
  background-color: rgba(255, 255, 255, 0.05);
}
.composition-wrapper {
  flex-grow: 1;
  background-image: linear-gradient(
    90deg,
    #2c2c2e 25%,
    #313133 25%,
    #313133 50%,
    #2c2c2e 50%,
    #2c2c2e 75%,
    #313133 75%,
    #313133 100%
  );
  background-size: 16px 16px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 12px;
  padding: 12px;
}
.controls button svg {
  width: 60px;
  height: 60px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
